body, html{
  margin: 0;
  overflow-x: hidden;
}
.menu{
  height: 14vh;
  background-color: #13171c;
  width: 100vw;
}
.logo{
  display: inline-block;
  width: 100vw;
  font-size: 40px;
  color: #16d1df;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Anton', sans-serif;

}
ul{
  display: inline-block;
  float: right;
  list-style-type: none;
  width: 32vw;
}
li{
  display: inline-block;
  width: 10vw;
  font-size: 20px;
color: #000000;
}
.tint{
  position: absolute;
  z-index: 1;
  height: 90vh;
  width: 100vw;
  background-color: #000;
}
.land{
  height: 90vh;
   width: 100vw;
   background-image: url('https://images.pexels.com/photos/1054289/pexels-photo-1054289.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
opacity: 0.4;
}
.heading{
  position: relative;
  z-index: 20;
  font-size: 50px;
  text-align: center;
  padding-top: 30vh;
font-family: 'Roboto Mono', monospace;
  color: #ffffff;
}
.line{
  position: relative;
  z-index: 19;
  margin: auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
  background: #ffffff;
  width: 50vw;
  height: 3px;
}
.status{
  position: relative;
  z-index: 20;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
}
.thefirst{
  width: 70vw;
  margin: auto;
}
.align{
  text-align: center;
}
h1{
  font-family: 'Roboto Mono', monospace;
  font-size: 35px;
}
p{
font-family: 'Roboto Mono', monospace;
}
footer{
  background-color: 13171c;
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
  color: #fff;
}
